<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CodeQuery | About</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <header>
        <h1>CodeQuery</h1>
        <nav>
          <a href="index">Home</a>
          <a href="about">About</a>
          <a href="resources">Resources</a>
          <a href="register">Register</a>
          <a href="login">Login</a>
          <a href="newcode">New Code</a>
        </nav>
      </header>
    
  <h1>About CodeQuery</h1>
  <p>CodeQuery is a platform for developers to share code snippets, ask questions, and find solutions.</p>
  <nav>
    <a href="index">Home</a>
    <a href="about">About</a>
    <a href="resources">Resources</a>
    <a href="register">Register</a>
    <a href="login">Login</a>
    <a href="newcode">New Code</a>
  </nav>
  <footer>
    <p>&copy; 2025 CodeQuery. All rights reserved.</p>
  </footer>
</body>
</html>
