<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CodeQuery | Login</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <header>
        <h1>CodeQuery</h1>
        <nav>
          <a href="index">Home</a>
          <a href="about">About</a>
          <a href="resources">Resources</a>
          <a href="register">Register</a>
          <a href="login">Login</a>
          <a href="newcode">New Code</a>
        </nav>
      </header>
  <h1>Login</h1>
  <form method="POST" action="/login">
    <label>Username or Email:</label><br>
    <input type="text" name="user" required><br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <input type="submit" value="Login">
  </form>

  <p>Don't have an account? <a href="register.html">Register here</a>.</p>
  <footer>
    <p>&copy; 2025 CodeQuery. All rights reserved.</p>
  </footer>
</body>
</html>
