version: '3.8'

services:
  # 1. The Spring Boot Application
  app:
    build: .
    container_name: snippet-app
    ports:
      - "8080:8080" # Maps localhost:8080 to container:8080
    depends_on:
      - mysqldb
      - redis
    environment:
      # Override localhost with container names
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysqldb:3306/code_snippet_db?allowPublicKeyRetrieval=true&useSSL=false
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379

  # 2. MySQL Database
  mysqldb:
    image: mysql:8.0
    container_name: snippet-mysql
    ports:
      - "3307:3306" # Maps localhost:3307 to container:3306 (avoids conflict with your local MySQL)
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=code_snippet_db

  # 3. Redis Cache
  redis:
    image: redis:alpine
    container_name: snippet-redis
    ports:
      - "6380:6379" # Maps localhost:6380 to container:6379 (avoids conflict with your local Redis)